{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
<h1 style="margin-top: 60px; margin-bottom: 60px">Courses</h1>
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-bottom: 60px">
    {% for obj in courses %}
    <div class="col">
        <div class="card h-100">
            <img src="{{ obj.course_image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'course-detail' obj.id %} ">{{ obj.name }}</a></h5>
                <p class="card-text">{{ obj.description }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Narxi: {{ obj.price }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    </div>
<div class="container">
<h1 style="margin-top: 60px; margin-bottom: 60px">Teachers</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for teacher in teachers %}
    <div class="col">
        <div class="card h-100">
            <img src="{{ teacher.image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ teacher.name }}</h5>
                <p class="card-text">{{ teacher.experience }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Email: {{ teacher.email }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}
