{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
<h1 style="margin-bottom: 60px; margin-top: 60px">Kurslar</h1>
<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-bottom: 60px">
    {% for obj in courses %}
    <div class="col">
        <div class="card h-100">
            <img src="{{ obj.course_image.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'course-detail' obj.id %} ">{{ obj.name }}</a></h5>
                <p class="card-text">{{ obj.description }}</p>
            </div>
            <div class="card-footer">
                <h3 class="text-muted">Narxi: {{ obj.price }}</h3>
            </div>
            <div class="card-footer">
                <h6 class="text">Teacher: {{ obj.teacher}}</h6>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    </div>


{% endblock %}
